<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Backdoor.RE</title>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700&subset=latin-ext" />
    <link rel="stylesheet" type="text/css" href="/css/skeleton.css" />
  </head>
  <body>
    <main>
      <section>
        <div class="container">
          <aside class="three columns">
            <nav>
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <hr />
                <li><a href="/publications/">Publications</a></li>
                <li><a href="/blog/">Blog</a></li>
              </ul>
            </nav>
          </aside>
          <div class="thirteen columns">
            <header>
              <h2>Backdoor.R(everse)E(ngineering)</h2>
            </header>
            <div class="row">
              $body$
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="container">
        <div class="sixteen columns footer">
          The content of this site is licensed under the Creative Commons <a href="https://creativecommons.org/share-your-work/public-domain/cc0">"public domain" (CC0) license</a>.
        </div>
      </div>
    </footer>
  </body>
</html>
